In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('loan_prediction.csv')

In [6]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [8]:
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [10]:
df.shape

(614, 13)

In [12]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [14]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [16]:
df.drop(columns=['Loan_ID','Gender','Dependents','Self_Employed'],inplace=True)

In [18]:
df.isna().sum()

Married               3
Education             0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [20]:
# Hndling Null Values
df['Married'].fillna('Yes', inplace=True)
df["LoanAmount"].fillna(df['LoanAmount'].mean(),inplace=True)
df["Loan_Amount_Term"].fillna(df['Loan_Amount_Term'].mean(),inplace=True)
df["Credit_History"].fillna(df['Credit_History'].mean(),inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Married            614 non-null    object
 1   Education          614 non-null    object
 2   ApplicantIncome    614 non-null    int64
 3   CoapplicantIncome  614 non-null    float64
 4   LoanAmount         614 non-null    float64
 5   Loan_Amount_Term   614 non-null    float64
 6   Credit_History     614 non-null    float64
 7   Property_Area      614 non-null    object
 8   Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(4)
memory usage: 43.3+ KB

In [24]:
df.isnull().sum()

Married              0
Education            0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [26]:
#Label Encoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [28]:
df['Married']=le.fit_transform(df['Married'])

In [30]:
df['Education']=le.fit_transform(df['Education'])
df['Property_Area']=le.fit_transform(df['Property_Area'])
df['Loan_Status']=le.fit_transform(df['Loan_Status'])

In [32]:
df.head()

,Married,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,1,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,1,0,3000,0.0,66.000000,360.0,1.0,2,1
3,1,1,2583,2358.0,120.000000,360.0,1.0,2,1
4,0,0,6000,0.0,141.000000,360.0,1.0,2,1

In [34]:
x=df.drop('Loan_Status',axis=1)
y=df['Loan_Status']

In [36]:
from sklearn.preprocessing import MinMaxScaler

In [38]:
norm=MinMaxScaler()

In [40]:
x=norm.fit_transform(x)

In [42]:
x

array([[0.        , 0.        , 0.07048856, ..., 0.74358974, 1.        ,
        1.        ],
       [1.        , 0.        , 0.05482993, ..., 0.74358974, 1.        ,
        0.        ],
       [1.        , 0.        , 0.03525046, ..., 0.74358974, 1.        ,
        1.        ],
       ...,
       [1.        , 0.        , 0.09798392, ..., 0.74358974, 1.        ,
        1.        ],
       [1.        , 0.        , 0.09193568, ..., 0.74358974, 1.        ,
        1.        ],
       [0.        , 0.        , 0.05482993, ..., 0.74358974, 0.        ,
        0.5       ]])

In [44]:
from sklearn.model_selection import train_test_split

In [46]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=0)

In [48]:
# Model Building
from sklearn.neighbors import KNeighborsClassifier

In [50]:
knn=KNeighborsClassifier()

In [52]:
#train the Model

In [54]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [56]:
#test the model
pred=knn.predict(x_test)

In [58]:
pred

array([1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1])

In [60]:
y_test

454    1
52     0
536    1
469    0
55     1
      ..
337    1
376    1
278    1
466    0
303    1
Name: Loan_Status, Length: 123, dtype: int64

In [80]:
from sklearn.metrics import accuracy_score, classification_report

In [82]:
accuracy_score(y_test,pred)

0.7886178861788617

In [84]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.65      0.45      0.54        33
           1       0.82      0.91      0.86        90

    accuracy                           0.79       123
   macro avg       0.74      0.68      0.70       123
weighted avg       0.77      0.79      0.78       123