In [2]:
#import the necessary Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import warnings

# Ignore all warnings
warnings.filterwarnings("ignore")

In [8]:
#Load the dataset
data=pd.read_csv('50_Startups.csv')
data

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [6]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [10]:
data.shape

(50, 5)

In [12]:
data.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [14]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [16]:
data['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [18]:
data['State'].value_counts()

State
New York      17
California    17
Florida       16
Name: count, dtype: int64

In [20]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [22]:
#Encoding=Converting Categorical Column to Numerical Column
from sklearn.preprocessing import LabelEncoder

In [24]:
#initialise the LabelEncode
le=LabelEncoder()

In [26]:
data['State']=le.fit_transform(data['State'])

In [28]:
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     int64
 4   Profit           50 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 2.1 KB

In [34]:
#Sepearate the dependent and Independent variable
y=data['Profit']
x=data.drop(columns=['Profit'],axis=1)

In [38]:
x

    R&D Spend  Administration  Marketing Spend  State
0   165349.20       136897.80        471784.10      2
1   162597.70       151377.59        443898.53      0
2   153441.51       101145.55        407934.54      1
3   144372.41       118671.85        383199.62      2
4   142107.34        91391.77        366168.42      1
5   131876.90        99814.71        362861.36      2
6   134615.46       147198.87        127716.82      0
7   130298.13       145530.06        323876.68      1
8   120542.52       148718.95        311613.29      2
9   123334.88       108679.17        304981.62      0
10  101913.08       110594.11        229160.95      1
11  100671.96        91790.61        249744.55      0
12   93863.75       127320.38        249839.44      1
13   91992.39       135495.07        252664.93      0
14  119943.24       156547.42        256512.92      1
15  114523.61       122616.84        261776.23      2
16   78013.11       121597.55        264346.06      0
17   94657.16       145077.58        282574.31      2
18   91749.16       114175.79        294919.57      1
19   86419.70       153514.11             0.00      2
20   76253.86       113867.30        298664.47      0
21   78389.47       153773.43        299737.29      2
22   73994.56       122782.75        303319.26      1
23   67532.53       105751.03        304768.73      1
24   77044.01        99281.34        140574.81      2
25   64664.71       139553.16        137962.62      0
26   75328.87       144135.98        134050.07      1
27   72107.60       127864.55        353183.81      2
28   66051.52       182645.56        118148.20      1
29   65605.48       153032.06        107138.38      2
30   61994.48       115641.28         91131.24      1
31   61136.38       152701.92         88218.23      2
32   63408.86       129219.61         46085.25      0
33   55493.95       103057.49        214634.81      1
34   46426.07       157693.92        210797.67      0
35   46014.02        85047.44        205517.64      2
36   28663.76       127056.21        201126.82      1
37   44069.95        51283.14        197029.42      0
38   20229.59        65947.93        185265.10      2
39   38558.51        82982.09        174999.30      0
40   28754.33       118546.05        172795.67      0
41   27892.92        84710.77        164470.71      1
42   23640.93        96189.63        148001.11      0
43   15505.73       127382.30         35534.17      2
44   22177.74       154806.14         28334.72      0
45    1000.23       124153.04          1903.93      2
46    1315.46       115816.21        297114.46      1
47       0.00       135426.92             0.00      0
48     542.05        51743.15             0.00      2
49       0.00       116983.80         45173.06      0

In [40]:
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [42]:
#Scaling on Independent Feratures
from sklearn.preprocessing import StandardScaler

In [44]:
names=x.columns

In [46]:
names

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State'], dtype='object')

In [48]:
scale=StandardScaler()

In [50]:
x=scale.fit_transform(x)

In [52]:
x

array([[ 2.01641149e+00,  5.60752915e-01,  2.15394309e+00,
         1.21267813e+00],
       [ 1.95586034e+00,  1.08280658e+00,  1.92360040e+00,
        -1.21267813e+00],
       [ 1.75436374e+00, -7.28257028e-01,  1.62652767e+00,
         0.00000000e+00],
       [ 1.55478369e+00, -9.63646307e-02,  1.42221024e+00,
         1.21267813e+00],
       [ 1.50493720e+00, -1.07991935e+00,  1.28152771e+00,
         0.00000000e+00],
       [ 1.27980001e+00, -7.76239071e-01,  1.25421046e+00,
         1.21267813e+00],
       [ 1.34006641e+00,  9.32147208e-01, -6.88149930e-01,
        -1.21267813e+00],
       [ 1.24505666e+00,  8.71980011e-01,  9.32185978e-01,
         0.00000000e+00],
       [ 1.03036886e+00,  9.86952101e-01,  8.30886909e-01,
         1.21267813e+00],
       [ 1.09181921e+00, -4.56640246e-01,  7.76107440e-01,
        -1.21267813e+00],
       [ 6.20398248e-01, -3.87599089e-01,  1.49807267e-01,
         0.00000000e+00],
       [ 5.93085418e-01, -1.06553960e+00,  3.19833623e-01,
        -1.21267813e+00],
       [ 4.43259872e-01,  2.15449064e-01,  3.20617441e-01,
         0.00000000e+00],
       [ 4.02077603e-01,  5.10178953e-01,  3.43956788e-01,
        -1.21267813e+00],
       [ 1.01718075e+00,  1.26919939e+00,  3.75742273e-01,
         0.00000000e+00],
       [ 8.97913123e-01,  4.58678535e-02,  4.19218702e-01,
         1.21267813e+00],
       [ 9.44411957e-02,  9.11841968e-03,  4.40446224e-01,
        -1.21267813e+00],
       [ 4.60720127e-01,  8.55666318e-01,  5.91016724e-01,
         1.21267813e+00],
       [ 3.96724938e-01, -2.58465367e-01,  6.92992062e-01,
         0.00000000e+00],
       [ 2.79441650e-01,  1.15983657e+00, -1.74312698e+00,
         1.21267813e+00],
       [ 5.57260867e-02, -2.69587651e-01,  7.23925995e-01,
        -1.21267813e+00],
       [ 1.02723599e-01,  1.16918609e+00,  7.32787791e-01,
         1.21267813e+00],
       [ 6.00657792e-03,  5.18495648e-02,  7.62375876e-01,
         0.00000000e+00],
       [-1.36200724e-01, -5.62211268e-01,  7.74348908e-01,
         0.00000000e+00],
       [ 7.31146008e-02, -7.95469167e-01, -5.81939297e-01,
         1.21267813e+00],
       [-1.99311688e-01,  6.56489139e-01, -6.03516725e-01,
        -1.21267813e+00],
       [ 3.53702028e-02,  8.21717916e-01, -6.35835495e-01,
         0.00000000e+00],
       [-3.55189938e-02,  2.35068543e-01,  1.17427116e+00,
         1.21267813e+00],
       [-1.68792717e-01,  2.21014050e+00, -7.67189437e-01,
         0.00000000e+00],
       [-1.78608540e-01,  1.14245677e+00, -8.58133663e-01,
         1.21267813e+00],
       [-2.58074369e-01, -2.05628659e-01, -9.90357166e-01,
         0.00000000e+00],
       [-2.76958231e-01,  1.13055391e+00, -1.01441945e+00,
         1.21267813e+00],
       [-2.26948675e-01,  2.83923813e-01, -1.36244978e+00,
        -1.21267813e+00],
       [-4.01128925e-01, -6.59324033e-01,  2.98172434e-02,
         0.00000000e+00],
       [-6.00682122e-01,  1.31053525e+00, -1.87861793e-03,
        -1.21267813e+00],
       [-6.09749941e-01, -1.30865753e+00, -4.54931587e-02,
         1.21267813e+00],
       [-9.91570153e-01,  2.05924691e-01, -8.17625734e-02,
         0.00000000e+00],
       [-6.52532310e-01, -2.52599402e+00, -1.15608256e-01,
        -1.21267813e+00],
       [-1.17717755e+00, -1.99727037e+00, -2.12784866e-01,
         1.21267813e+00],
       [-7.73820359e-01, -1.38312156e+00, -2.97583276e-01,
        -1.21267813e+00],
       [-9.89577015e-01, -1.00900218e-01, -3.15785883e-01,
        -1.21267813e+00],
       [-1.00853372e+00, -1.32079581e+00, -3.84552407e-01,
         0.00000000e+00],
       [-1.10210556e+00, -9.06937535e-01, -5.20595959e-01,
        -1.21267813e+00],
       [-1.28113364e+00,  2.17681524e-01, -1.44960468e+00,
         1.21267813e+00],
       [-1.13430539e+00,  1.20641936e+00, -1.50907418e+00,
        -1.21267813e+00],
       [-1.60035036e+00,  1.01253936e-01, -1.72739998e+00,
         1.21267813e+00],
       [-1.59341322e+00, -1.99321741e-01,  7.11122474e-01,
         0.00000000e+00],
       [-1.62236202e+00,  5.07721876e-01, -1.74312698e+00,
        -1.21267813e+00],
       [-1.61043334e+00, -2.50940884e+00, -1.74312698e+00,
         1.21267813e+00],
       [-1.62236202e+00, -1.57225506e-01, -1.36998473e+00,
        -1.21267813e+00]])

In [54]:
x=pd.DataFrame(x,columns=names)
x

    R&D Spend  Administration  Marketing Spend     State
0    2.016411        0.560753         2.153943  1.212678
1    1.955860        1.082807         1.923600 -1.212678
2    1.754364       -0.728257         1.626528  0.000000
3    1.554784       -0.096365         1.422210  1.212678
4    1.504937       -1.079919         1.281528  0.000000
5    1.279800       -0.776239         1.254210  1.212678
6    1.340066        0.932147        -0.688150 -1.212678
7    1.245057        0.871980         0.932186  0.000000
8    1.030369        0.986952         0.830887  1.212678
9    1.091819       -0.456640         0.776107 -1.212678
10   0.620398       -0.387599         0.149807  0.000000
11   0.593085       -1.065540         0.319834 -1.212678
12   0.443260        0.215449         0.320617  0.000000
13   0.402078        0.510179         0.343957 -1.212678
14   1.017181        1.269199         0.375742  0.000000
15   0.897913        0.045868         0.419219  1.212678
16   0.094441        0.009118         0.440446 -1.212678
17   0.460720        0.855666         0.591017  1.212678
18   0.396725       -0.258465         0.692992  0.000000
19   0.279442        1.159837        -1.743127  1.212678
20   0.055726       -0.269588         0.723926 -1.212678
21   0.102724        1.169186         0.732788  1.212678
22   0.006007        0.051850         0.762376  0.000000
23  -0.136201       -0.562211         0.774349  0.000000
24   0.073115       -0.795469        -0.581939  1.212678
25  -0.199312        0.656489        -0.603517 -1.212678
26   0.035370        0.821718        -0.635835  0.000000
27  -0.035519        0.235069         1.174271  1.212678
28  -0.168793        2.210141        -0.767189  0.000000
29  -0.178609        1.142457        -0.858134  1.212678
30  -0.258074       -0.205629        -0.990357  0.000000
31  -0.276958        1.130554        -1.014419  1.212678
32  -0.226949        0.283924        -1.362450 -1.212678
33  -0.401129       -0.659324         0.029817  0.000000
34  -0.600682        1.310535        -0.001879 -1.212678
35  -0.609750       -1.308658        -0.045493  1.212678
36  -0.991570        0.205925        -0.081763  0.000000
37  -0.652532       -2.525994        -0.115608 -1.212678
38  -1.177178       -1.997270        -0.212785  1.212678
39  -0.773820       -1.383122        -0.297583 -1.212678
40  -0.989577       -0.100900        -0.315786 -1.212678
41  -1.008534       -1.320796        -0.384552  0.000000
42  -1.102106       -0.906938        -0.520596 -1.212678
43  -1.281134        0.217682        -1.449605  1.212678
44  -1.134305        1.206419        -1.509074 -1.212678
45  -1.600350        0.101254        -1.727400  1.212678
46  -1.593413       -0.199322         0.711122  0.000000
47  -1.622362        0.507722        -1.743127 -1.212678
48  -1.610433       -2.509409        -1.743127  1.212678
49  -1.622362       -0.157226        -1.369985 -1.212678

In [56]:
from sklearn.model_selection import train_test_split

In [58]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
#Splitting Dataset in 80% traing dataset and 20% in Test Dataset

In [60]:
#model building
from sklearn.linear_model import LinearRegression

In [62]:
model=LinearRegression()

In [64]:
model

LinearRegression()

In [66]:
#Fit the model with train data
model.fit(x_train,y_train)

LinearRegression()

In [68]:
# test the Model
pred=model.predict(x_test)

In [70]:
pred

array([103959.40508021, 132398.73236694, 133529.03790148,  72958.28368314,
       179534.78737166, 115533.62584099,  67476.95847883,  98504.36199396,
       114789.16083781, 168972.21909945])

In [72]:
y_test

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

In [74]:
E=pred-y_test

In [76]:
E

28      677.025080
11   -11860.667633
10   -12592.912099
41    -4840.546317
2    -11515.602628
27    10525.315841
38   -13752.101521
31     1020.801994
22     4436.910838
4      2784.279099
Name: Profit, dtype: float64

In [78]:
#r2 Score--Accuracy of the model

In [80]:
from sklearn.metrics import r2_score

In [82]:
r2_score(pred,y_test)*100

93.46674198705865

In [87]:
model.coef_

array([35316.84726493,   838.83297133,  4227.89488204,   260.47901392])

In [89]:
model.intercept_

111310.28925308926