In [2]:
# Import the required Libraries
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('50_Startups.csv')

In [6]:
df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [8]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [10]:
df.shape

(50, 5)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [14]:
#Label Encoding
from sklearn.preprocessing import LabelEncoder

In [15]:
le=LabelEncoder()

In [18]:
df['State']=le.fit_transform(df['State'])

In [20]:
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [22]:
x=df.drop(columns=['Profit'])

In [24]:
x.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      2
1  162597.70       151377.59        443898.53      0
2  153441.51       101145.55        407934.54      1
3  144372.41       118671.85        383199.62      2
4  142107.34        91391.77        366168.42      1

In [26]:
y=df.Profit

In [28]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [30]:
#Normalisation Technique to scale down the values
from sklearn.preprocessing import MinMaxScaler

In [32]:
scale=MinMaxScaler()

In [34]:
scaled_x=pd.DataFrame(scale.fit_transform(x))

In [36]:
scaled_x

           0         1         2    3
0   1.000000  0.651744  1.000000  1.0
1   0.983359  0.761972  0.940893  0.0
2   0.927985  0.379579  0.864664  0.5
3   0.873136  0.512998  0.812235  1.0
4   0.859438  0.305328  0.776136  0.5
5   0.797566  0.369448  0.769126  1.0
6   0.814128  0.730161  0.270710  0.0
7   0.788018  0.717457  0.686493  0.5
8   0.729018  0.741733  0.660500  1.0
9   0.745906  0.436929  0.646443  0.0
10  0.616351  0.451506  0.485733  0.5
11  0.608845  0.308364  0.529362  0.0
12  0.567670  0.578836  0.529563  0.5
13  0.556352  0.641066  0.535552  0.0
14  0.725394  0.801327  0.543708  0.5
15  0.692617  0.543030  0.554864  1.0
16  0.471808  0.535270  0.560312  0.0
17  0.572468  0.714013  0.598948  1.0
18  0.554881  0.478772  0.625116  0.5
19  0.522650  0.778236  0.000000  1.0
20  0.461169  0.476424  0.633053  0.0
21  0.474084  0.780210  0.635327  1.0
22  0.447505  0.544293  0.642920  0.5
23  0.408424  0.414638  0.645992  0.5
24  0.465947  0.365388  0.297964  1.0
25  0.391080  0.671958  0.292427  0.0
26  0.455574  0.706845  0.284134  0.5
27  0.436093  0.582978  0.748613  1.0
28  0.399467  1.000000  0.250429  0.5
29  0.396769  0.774566  0.227092  1.0
30  0.374931  0.489928  0.193163  0.5
31  0.369741  0.772053  0.186989  1.0
32  0.383485  0.593294  0.097683  0.0
33  0.335617  0.394134  0.454943  0.5
34  0.280776  0.810055  0.446810  0.0
35  0.278284  0.257032  0.435618  1.0
36  0.173353  0.576825  0.426311  0.5
37  0.266527  0.000000  0.417626  0.0
38  0.122345  0.111636  0.392690  1.0
39  0.233194  0.241309  0.370931  0.0
40  0.173901  0.512041  0.366260  0.0
41  0.168691  0.254469  0.348614  0.5
42  0.142976  0.341852  0.313705  0.0
43  0.093776  0.579307  0.075319  1.0
44  0.134127  0.788072  0.060059  0.0
45  0.006049  0.554724  0.004036  1.0
46  0.007956  0.491260  0.629768  0.5
47  0.000000  0.640547  0.000000  0.0
48  0.003278  0.003502  0.000000  1.0
49  0.000000  0.500148  0.095749  0.0

In [38]:
#Train and Test Split
from sklearn.model_selection import train_test_split

In [40]:
x_train,x_test,y_train,y_test=train_test_split(scaled_x,y,test_size=0.2,random_state=0)

In [42]:
x_train.shape

(40, 4)

In [44]:
x_test.shape

(10, 4)

In [46]:
#importingh Ridge and Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [48]:
r=Ridge()
l=Lasso()

In [50]:
r.fit(x_train,y_train)# Ridge Training

Ridge()

In [52]:
l.fit(x_train,y_train) #lasso trainng

Lasso()

In [54]:
pred1=r.predict(x_test)
pred2=l.predict(x_test)

In [56]:
pred1

array([106588.96111489, 122680.02187719, 125750.4526799 ,  80105.87177737,
       164788.14396038, 123759.77139893,  77756.49181374, 100589.89370652,
       118387.93230804, 154752.91102484])

In [58]:
pred2

array([103948.87521339, 132410.71438286, 133534.66096068,  72963.98313021,
       179538.88870041, 115519.88260322,  67481.86012807,  98499.3805589 ,
       114783.17766482, 168979.76680145])

In [60]:
from sklearn import metrics

In [62]:
#MSE (Mean Square Error)
print(metrics.mean_squared_error(y_test,pred1))
print(metrics.mean_squared_error(y_test,pred2))

215528637.20262003
78310378.96870756

In [64]:
#RMSE(Root Mean Square Error)
print(np.sqrt(metrics.mean_squared_error(y_test,pred1)))
print(np.sqrt(metrics.mean_squared_error(y_test,pred2)))

14680.893610493198
8849.315169475407

In [66]:
# R Squared
print(metrics.r2_score(y_test,pred1))
print(metrics.r2_score(y_test,pred2))

0.8314723168235725
0.9387669921382313

In [68]:
# As r2 Score is higher for lasso regression we will use Lasso Regression ML Model for Deployment.