In [3]:
import pandas as pd
import numpy as np

In [5]:
data=['Mayur',20,'M',9.21]
s=pd.Series(data)
print(s)

0    Mayur
1       20
2        M
3     9.21
dtype: object

In [7]:
s1=pd.Series(np.random.random(5))
s2=pd.Series(np.random.random(5))

In [13]:
pd.DataFrame([s1,s2])

          0         1         2         3         4
0  0.544112  0.799868  0.879589  0.723474  0.417081
1  0.683294  0.787181  0.516393  0.750913  0.296837